@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 54.2% 55.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --ring: 24 5.4% 63.9%;

    --radius: 0.5rem;

    --memora-purple: 256 100% 95%;
    --memora-green: 80 50% 83%;
    --memora-blue: 202 96% 81%;
    --memora-yellow: 46 100% 70%;
    --memora-pink: 346 78% 82%;
    --memora-orange: 12 99% 91%;
    --memora-gray: 0 0% 65%;

    --google: 0 0% 19%;
    --github: 224 50% 30%;
    --form-stroke: 20 14.3% 4.1%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 52.8% 40.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 12 6.5% 15.1%;

    --memora-purple: 256 100% 85%;
    --memora-green: 80 50% 73%;
    --memora-blue: 202 96% 71%;
    --memora-yellow: 46 100% 50%;
    --memora-pink: 346 78% 62%;
    --memora-orange: 12 99% 81%;
    --memora-gray: 0 0% 15%;

    --google: 0 0% 19%;
    --github: 224 50% 30%;
    --form-stroke: 0 0% 99%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .vertical-fade {
    @apply fixed left-0 bottom-0 pointer-events-none select-none w-full z-10 h-20 backdrop-blur-[1px] will-change-transform;
    @apply bg-gradient-to-t from-background to-transparent;
  }
}
